html,
body{
    width: 100%;
    height: 1024px;
    background-color: #111111;
    padding: 0;
    margin: 0;
}
.main-wrap {
    height: 100%;
    width: 100%;
    color: white;
    font-family: 'Cabin';
    text-align: center;
}

.main-title {
    width: 100%;
    height: 400px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 42px;
}

.content-wrap {
    width: 100%;
    height: 700px;
    background-color: #3c3c3c;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.empty-space {
    width: 100%;
    height: 200px;
    background-color: transparent;
}

.footer {
    width: 100%;
    height: 100px;
    background-color:#3c3c3c; 
}